#friend-box {
    float: left;
    width: 25vw;
    max-width: 280px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.123);
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
}

#friend-box::-webkit-scrollbar {
    width: 2px;
}

#friend-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);;
}

#friend-box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 40px;
    border-width: 0px;
  }

#friend-list {
    list-style: none;
    direction: ltr;
}

.friend-list-element {
    float: left;
    width: 25vw;
    max-width: 280px;
    margin-left: -40px;
    display: flex;
    text-align: center;
    cursor: pointer;
}

.friend-list-element:hover {
    background-color: rgba(128, 128, 128, 0.568);
}

.friend-list-element-selected {
    background-color: gray;
    float: left;
    width: 25vw;
    max-width: 280px;
    margin-left: -40px;
    display: flex;
    text-align: center;
    cursor: pointer;
}

.friend-list-element-selected:hover {
    background-color: rgba(128, 128, 128, 0.863);
}

.friend-name {
    float: right;
    font-size: 14px;
    pointer-events: none;
}

.friend-pic {
    float: left;
    margin: 10px;
    max-width: 3em;
    max-height: 3em;
    border-radius: 40px;
    pointer-events: none;
}

.unread-msg-notification {
    background-color: red;
    position: absolute;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    margin: 40px 0px 0px 45px;
    font-size: 0.8rem;
    text-align: center;
}

#user-box {
    background-color: rgb(36, 34, 34);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25vw;
    max-width: 280px;
    height: 60px;
}

#username {
    font-size: 14px;
    margin-left: 60px;
    position: fixed;
}

#user-pic {
    margin: 5px 0px 0px 5px;
    position: absolute;
    left: 0;
    max-width: 3em;
    max-height: 3em;
    border-radius: 40px;
    cursor: pointer;
}

#home-btn {
    right: 0;
    position: absolute;
    margin: 35px 5px 0px 0px;
    height: 20px;
    border-radius: 20px;
    border-width: 0px;
}

#popup-menu {
    margin-left: 55px;
}

#logout-btn {
    background-color: red;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border-width: 0px;
}

#logout-btn:hover {
    background-color: darkred;
}

#empty-fr-list-text {
    font-style: italic;
    margin-right: 30px;
}

@media only screen and (max-width: 600px) {
    .friend-list-element {
        margin-left: -45px;
    }
    
    .friend-name {
        font-size: 12px;
    }

    .friend-pic {
        max-width: 2em;
        max-height: 2em;
    }

    #user-box {
        position: fixed;
    }
    
    #user-pic {
        max-width: 2em;
        max-height: 2em;
    }

    #username {
        position: static;
        font-size: 12px;
        margin-left: 20px;
    }

    #home-btn {
        margin-top: -2px;
        height: 15px;
    }
}